<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </md-card-title>
          </md-card-header>
          <img md-card-image src={{dish.image}} alt={{dish.name}}>
          <md-card-content>
            <p>{{dish.description}}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/dishdetail', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button md-button (click)="goBack()">BACK</button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button md-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </md-card-actions>
        </md-card>  
      </div>

<div fxFlex="40" *ngIf="dish">
    <md-list>
    <h3>Comments</h3>
      <md-list-item *ngFor="let comments of dish.comments">
        <h4 md-line>{{comments.comment}}</h4>
        <p md-line>{{comments.rating}} Stars</p>
        <p md-line>
          <span>-- {{comments.author}} {{comments.date | date}}</span>
        </p>
      </md-list-item>
    </md-list>
    <md-list *ngIf="commentForm.valid">
      <md-list-item>
        <h4 md-line> {{commentForm.get('comment').value}} </h4>
        <p md-line>{{commentForm.get('rating').value}} Points</p>
        <p md-line>
          <span> -- {{commentForm.get('author').value}} </span>
        </p>
      </md-list-item>
    </md-list>
  <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <p>
    <md-input-container class="full-width"
     dividerColor="{{(formErrors.author) ? 'warn': 'primary'}}">
      <input mdInput formControlName="author" placeholder="Name" type="text" required>
      <md-hint>
        <span [hidden]="!(formErrors.author)">
          {{formErrors.author}}</span>
      </md-hint>
    </md-input-container>
    </p>
    <p><md-slider min="1" max="5" step="1" thumbLabel tickInterval></md-slider></p>
    <p>
      <md-input-container class="full-width">
        <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=12></textarea>
        <md-hint>
          <span [hidden]="!(formErrors.comment)">
            {{formErrors.comment}}</span>
          </md-hint>
      </md-input-container>
    </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>    
</form>
</div>
<div [hidden]="dish">
  <md-spinner></md-spinner> <h4>Wait please.. </h4>
</div>
</div>

